@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--custom-red: hsl(0, 100%, 74%);
	--custom-green: hsl(154, 59%, 51%);
	--custom-blurple: hsl(248, 32%, 49%);
	--custom-darkblurple: hsl(249, 10%, 26%);
	--custom-lightblurple: hsl(246, 25%, 77%);
}

body {
	background: var(--custom-red);
	font-size: 16px;
	font-family: Poppins, Helvetica, Segoe UI, Tahoma, Geneva, Verdana sans-serif;
	line-height: 150%;
}

p {
	@apply my-3;
}

a:not(.button),
a:not(.navbar__a) {
	@apply text-blurple underline font-bold;
}

.main {
	@apply w-4/5 mt-6 mx-auto p-4 text-center;
}

.main h1,
.main h2,
.main h3 {
	@apply text-white font-bold;
}

h1 {
	@apply text-4xl mt-6 mb-4;
}
h2 {
	@apply text-3xl mt-5 mb-3;
}
h3 {
	@apply text-2xl mt-4 mb-2;
}

/* App.js */

.app {
	@apply w-screen h-screen;
	background: url("../img/bg-intro-desktop.png");
}

/* NavBar.js */
.navbar {
	@apply w-screen px-24 py-2 bg-white;
}

.navbar__nav {
	@apply w-4/5 mx-auto flex justify-evenly items-center space-x-4;
}

/* Landing.js */
.landing__desc {
	@apply text-white;
}

.landing__buttons {
	@apply flex flex-col w-full mx-auto justify-evenly items-center my-4 space-y-2;
}

.button {
	@apply group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md;
}

.button-primary {
	@apply text-white bg-blurple hover:bg-blurple-dark no-underline font-normal !important;
}
.button-secondary {
	@apply text-white bg-mint hover:bg-green-700 no-underline !important;
}

.button-outline {
	@apply text-blurple bg-white border-2 border-blurple hover:bg-blurple-dark hover:text-white no-underline !important;
}

/* Login.js */
.login__socials,
.signup__socials {
	@apply my-8 space-y-2;
}

/* Signup.js */

.input input {
	@apply appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm;
}

div.input:first-of-type input {
	@apply rounded-t-md;
}

div.input:last-of-type input {
	@apply rounded-b-md;
}
